
/* -------------------------------------------- Mobile Layout  -----------------------------------------------------*/

@media screen and (max-width: 499px)
{
    *{
    border: 0px;
    padding: 0px;
    margin: 2px;
    color: whitesmoke;
    background-color: lightsteelblue;
}

 


    /*  Grid section for Mobile layout */
    .gridMasterParent{
        display : grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 2fr 1fr 7fr 1fr 2fr 2fr ; 
        grid-template-areas:  
            "header"
            "aside"
            "boxSection"
            "nav"
            "MessegeCenter"
            "footer"
            ; 

    }

    .masterAside{
        visibility: hidden;
    }

    .masterHeader{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr 1fr ;
        text-align: center;
        background-color: lightyellow;
    }


    /*Grids for the center section layout 
    Should change with media queries 
    */
    .sectionGridBox {
        display: grid;
        grid-template-columns: 1fr;
        
    }





}

/* -------------------------------------------- Web Page Layout -----------------------------------------------------*/

*{
    border: 0px;
    padding: 0px;
    margin: 2px;
    /*color: whitesmoke;
    background-color: lightsteelblue;*/
}

/*Grids for the main page layout 
shoudld change with media queries
*/

.gridMasterParent{
      display : grid;
      grid-template-columns: 1fr 7fr; 
      grid-template-rows: 2fr 12fr 1fr 2fr 2fr; 
      grid-template-areas:  
        "header header"
        "aside boxSection"
        "nav nav"
        "MessegeCenter MessegeCenter "
        "footer footer"; 

}

/* Grids for the header Layout  
should change with media queries
*/

.masterHeader{
    display: grid;
    grid-template-columns: 1fr 3fr 8fr 1fr 1fr ;
    text-align: center;
    background-color: lightyellow;
}


/*Grids for the center section layout 
Should change with media queries 
*/

.sectionGridBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
      
}








/* -------------------------------------------- Main Page components --------------------------------------------------*/


header {
    grid-area: header;

} 

aside {
    /*background-color: lightgoldenrodyellow;*/
    grid-area: aside;
    
} 

.masterBoxSection {
    /*background-color: whitesmoke;*/
    grid-area: boxSection;  
}

.masterMessegeCenter{
    /*background-color: whitesmoke;*/
    grid-area: MessegeCenter;  
}

.masterNav{
     /*background-color : rgba(245, 222, 179, 0.24);*/
    text-align: center;
    grid-area: nav;
}


Footer {
    /*background-color: rgba(175, 238, 238, 0.247) ;*/
    grid-area: footer;
    text-align: center;
    text-justify: auto;
    background-color: lightyellow;
}





/* ---------------------------------------------- Inner Box Section --------------------------------------*/


.innerbox{
    border: .5px solid rgba(119, 136, 153, 0.158);
    padding :10px;
    margin: 7px;
    background-color: rgba(0, 128, 128, 0.032);
    border-radius: 4px;
}

.innerbox:hover {
    background-color: rgba(0, 128, 128, 0.06);
    border-radius: 25px;
}



/* ---------------------------------------------- heading Section --------------------------------------*/
#menuIcon{
    grid-area:"menuIcon";
    text-align: center;
    font-size: 40px;
    margin: auto;
    
}


#logo{
    grid-area:"logo";
    margin: auto;
}

#mainHeading{
    grid-area:"mainHeading";
    margin: auto;
}

#login{
    grid-area:"login";
    text-align: center;
    margin: auto;
}

#signup{
    grid-area:"signup";
    text-align: center;
    margin: auto;
}