body {
    background-color: lavender;
}


#welcomeText 
{
    border: 3 solid black;
    
    width: 400px;
    height: 200px;
    
    Padding: 5px;

    background-color :rgba(199, 41, 133, 0.534); 
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}