

@media (min-width : 700px){
    body 
    {
        background-color : black;
    }
}


@media (max-width : 699px){
    body 
    {
        background-color : red;
    }

}




.divBlocks :hover
{
    background-color: rgba(255, 166, 0, 0.404);
    
    width: 70%;
    height: 44%;
}

.divBlocks
{
    border: 10 solid black;
    
    margin: 5px;
    width: 75%;
    height: 45%;
    
    Padding: 5px;

    background-color :rgba(195, 233, 60, 0.466); 
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


section 
{
    color: coral;
}


