body {
    background-color: lavender;
}

div {
    font-family: 'Times New Roman', serif, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration-color:yellow;

    height: 300px;
    width:300px;
    
    background-color: lightcoral;
    
    margin: 50px;
    
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    
    border: 2px dashed black;


}
